body{
    margin: 0;
    padding: 0;
}

// Variables 

// Colours
$colourDark: #171A1E;
$colourLight: #F8F3EB;
$white: #FFFFFF;

// css rules

// Main Sections styles
.aboveFold{
    background-color: $colourLight;
    padding: 40px;
}

.belowFold{
    background-color: $colourDark;
    color: $colourLight;
    display: flex;
    padding: 40px;
}

// Nav bar 
.nav{
    text-align: center;
    display: flex;
    justify-content: center;
}

.navBar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 1200px; 
    padding: 0 20px; 
  }

  .navOptions {
    flex: 1;
    text-align: center; 
}

.navList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; 
    gap: 20px; 
    justify-content: center;
}

.navOption {
    display: inline-block;
}

.navOption a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

// Hero section
.heroSection{
    text-align: center;
    padding: 0 20px;
}

.headingContainer{
    display: flex;
    font-size: 100px;
    font-family: spline-sans, sans-serif;
    font-weight: 400;
    padding: 0 20px;
}

.headingParagraph{
    padding: 0 20px;
}
  

// .headingContainer img{
//     width: 81.17px;;
//     height: 58.59px;
// }

// Hero sub heading 
.subHeading{
    font-family: geist, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height:33.12px;
}

// CTA buttons
.ctaButton button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 169px;
    border-radius: 4px;
    background-color: $colourDark;
    color: $white;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    transition: 0.2s ease;
}
.btnLight button{
    background-color: $colourLight;
    color: $colourDark;
    border: $colourDark 2px solid;
    transition: 0.2s ease;
}
.ctaButton button:hover{
    background-color: $colourLight;
    color: $colourDark;
    border: $colourDark 2px solid;
}
.btnLight button:hover{
    background-color: $colourDark;
    color: $colourLight;
}
.ctaButton button a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ctaButton button a i {
    display: inline-block;
}
.ctaButton button a p {
    margin: 0;
    line-height: 1;
}
.btnGroup{
    display: flex;
    justify-content: center;
}
.arrowImg{
    margin: 0 5px;
}

// Below fold image 
.imgContainer img{
    border-radius: 4px;
    width: 100%;
}

.imgContainer, .contentContainer{
    width: 50%;
    padding: 20px;
}

// Media Quries

@media (max-width: 1085px) {
    .headingContainer {
      font-size: 80px; 
    }
  }

@media (max-width: 768px) {
    .headingContainer {
      font-size: 60px; 
    }
    .headingContainer img{
        height: 40px;
    }
    .headingParagraph{
        padding: 0;
    }
  }
  
  @media (max-width: 480px) {
    .headingContainer {
      font-size: 40px; 
    }
    .headingContainer img{
        height: 20px;
    }
  }