body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 100px;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: -999px;
}

.aboveFold {
  background-color: #F8F3EB;
  padding: 40px;
}

.belowFold {
  background-color: #171A1E;
  color: #F8F3EB;
  display: flex;
  padding: 50px;
  align-items: stretch;
}

.nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
}

.navOptions {
  width: 100%;
  text-align: center;
  transition: 0.5s ease;
}

.navOption:hover {
  text-decoration: underline;
}

.mobileNav.show {
  display: block;
  opacity: 1;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navOption {
  display: inline-block;
  cursor: pointer;
}
.navOption a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: inherit;
}
.navOption a:focus {
  outline: 2px solid #0056b3;
}

.mobileContainer {
  display: flex;
}

.mobileNav {
  display: none;
  opacity: 0;
  transition: 0.5s opacity ease;
  padding-top: 20px;
}

.burgerMenu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}
.burgerMenu i {
  color: #171A1E;
}

.heroSection {
  text-align: center;
  padding: 0 20px;
}

.headingContainer {
  display: flex;
}

.headingParagraph {
  font-family: "spline-sans", sans-serif;
  font-weight: 400;
}

.subHeading {
  font-family: "geist", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.ctaButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 150px;
  gap: 10px;
  border-radius: 4px;
  background-color: #171A1E;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
  transition: 0.2s ease;
}
.ctaButton button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctaButton button a i {
  display: inline-block;
}

.ctaButton button:hover {
  background-color: #F8F3EB;
  color: #171A1E;
  border: 2px solid #171A1E;
}
.ctaButton button:hover img {
  filter: invert(1);
}

.btnLight button {
  background-color: #F8F3EB;
  color: #171A1E;
  border: 2px solid #171A1E;
  transition: 0.2s ease;
}

.btnLight button:hover {
  background-color: #171A1E;
  color: #F8F3EB;
  border: 2px solid #F8F3EB;
}

.btnGroup {
  display: flex;
  justify-content: center;
}

.arrowImg {
  margin: 0 5px;
}

.imgContainer {
  width: 50%;
  padding: 0;
}
.imgContainer img {
  border-radius: 4px;
  width: 100%;
}

.contentContainer {
  width: 50%;
  margin: 0 40px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contentContainer h2 {
  font-size: 36px;
  margin-bottom: 6px;
  margin-top: 0;
}
.contentContainer p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.accordionContainer {
  margin-top: auto;
}

.accordionContent {
  overflow: hidden;
  max-height: 0;
  transition: 0.5s ease;
}

.accordionContent.open {
  padding: 0 10px;
  border-bottom: 1px solid #3E3E3E;
  padding-bottom: 10px;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  border-bottom: 1px solid #3E3E3E;
}
.accordionHeader h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  flex-grow: 1;
}

.plusIconImg {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

@media only screen and (max-width: 1085px) {
  .headingContainer {
    font-size: 80px;
  }
  .contentContainer h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .headingContainer {
    font-size: 60px;
  }
  .headingParagraph {
    padding: 0;
  }
  .subHeading {
    font-size: 18px;
  }
  .aboveFold {
    padding: 20px;
  }
  .belowFold {
    flex-direction: column;
    padding: 20px;
  }
  .imgContainer, .contentContainer {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    justify-content: center;
    display: flex;
  }
  .contentContainer h2 {
    text-align: center;
  }
  .textContent {
    text-align: center;
  }
  .ctaButton.btnLight, .ctaButton.btnDark {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .imgContainer img {
    width: 90%;
  }
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 75px;
  }
  .navOptions {
    display: none;
    opacity: 0;
  }
  .burgerMenu {
    display: block;
  }
  .logoImg {
    width: 80px;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 50px;
  }
  .headingContainer {
    font-size: 40px;
  }
  .headingContainer img {
    height: 40px;
  }
  .subHeading {
    font-size: 14px;
  }
  .btnGroup {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
